PROBLEM STATEMENT

The company is entering the aviation industry but lacks knowledge about risks associated with different aircraft types

PROPOSED SOLUTION

Use the aviation daraset to identify the lowest-risk aircraft to prioritize for purchase and operation.

OBJECTIVES

Main Objective:

Recommend safe aircraft for the new aviation division.

Secondary Objectives:

Handle missing values and clean dataset.

Analyze trends by aircraft type, make, engines, etc.

Create visualizations for stakeholders.

Summarize actionable business insights.

DATA ANALYSIS, CLEANING AND VISUALIZATION

In [1]:
import pandas as pd
import numpy as np

In [2]:
df_aviation = pd.read_csv('Aviation_Data.csv')
df_aviation.head()

c:\Users\User\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [3]:
df_aviation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90348 entries, 0 to 90347
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      90348 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        73659 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.4+ MB

In [4]:
df_aviation.shape

(90348, 31)

In [5]:
df_aviation.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [6]:
df_aviation.isnull().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40099
Airport.Name              37558
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2776
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8536
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7840
Publication.Date          16689
dtype: int64

In [7]:
missing_percent = (df_aviation.isnull().sum() / len(df_aviation)) * 100
missing_percent.sort_values(ascending=False)

Schedule                  86.073848
Air.carrier               81.573471
FAR.Description           64.555939
Aircraft.Category         64.263736
Longitude                 61.954886
Latitude                  61.944924
Airport.Code              44.382831
Airport.Name              41.570372
Broad.phase.of.flight     31.681941
Publication.Date          18.471909
Total.Serious.Injuries    15.461327
Total.Minor.Injuries      14.822686
Total.Fatal.Injuries      14.233851
Engine.Type                9.447913
Report.Status              8.677558
Purpose.of.flight          8.468367
Number.of.Engines          8.348829
Total.Uninjured            8.158454
Weather.Condition          6.586753
Aircraft.damage            5.150086
Registration.Number        3.072564
Injury.Severity            2.721698
Country                    1.865011
Amateur.Built              1.727764
Model                      1.716695
Make                       1.684597
Location                   1.672422
Event.Date                 1.614867
Accident.Number            1.614867
Event.Id                   1.614867
Investigation.Type         0.000000
dtype: float64

In [8]:
#keep only relevant columns
relevant_columns = [
    "Event.Id",
    "Event.Date",
    "Location",
    "Country",
    "Injury.Severity",
    "Aircraft.Category",
    "Make",
    "Model",
    "Number.of.Engines",
    "Engine.Type",
    "Total.Fatal.Injuries",
    "Total.Serious.Injuries",
    "Total.Minor.Injuries",
    "Total.Uninjured"
]

In [9]:
df_aviation = df_aviation[relevant_columns]
df_aviation.shape

(90348, 14)

In [11]:
df_aviation.head()

,Event.Id,Event.Date,Location,Country,Injury.Severity,Aircraft.Category,Make,Model,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
0,20001218X45444,1948-10-24,"MOOSE CREEK, ID",United States,Fatal(2),NaN,Stinson,108-3,1.0,Reciprocating,2.0,0.0,0.0,0.0
1,20001218X45447,1962-07-19,"BRIDGEPORT, CA",United States,Fatal(4),NaN,Piper,PA24-180,1.0,Reciprocating,4.0,0.0,0.0,0.0
2,20061025X01555,1974-08-30,"Saltville, VA",United States,Fatal(3),NaN,Cessna,172M,1.0,Reciprocating,3.0,NaN,NaN,NaN
3,20001218X45448,1977-06-19,"EUREKA, CA",United States,Fatal(2),NaN,Rockwell,112,1.0,Reciprocating,2.0,0.0,0.0,0.0
4,20041105X01764,1979-08-02,"Canton, OH",United States,Fatal(1),NaN,Cessna,501,NaN,NaN,1.0,2.0,NaN,0.0

In [10]:
#have a copy when subsetting so changes may stick
df_aviation = df_aviation[relevant_columns].copy()

In [12]:
df_aviation.isnull().sum()

Event.Id                   1459
Event.Date                 1459
Location                   1511
Country                    1685
Injury.Severity            2459
Aircraft.Category         58061
Make                       1522
Model                      1551
Number.of.Engines          7543
Engine.Type                8536
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
dtype: int64

In [13]:
#drop the columns that are too incomplete

df_aviation.drop(columns=['Aircraft.Category'], inplace=True)

In [ ]:
#handle duplicates
df_duplicates = df_aviation.duplicated().value_counts()   #will return 'true' which are duplicated and 'false' are not duplicated.
df_duplicates

False    88821
True      1527
dtype: int64

In [15]:
#view the first 15 duplicates
df_aviation[df_aviation.duplicated()].head(15)

,Event.Id,Event.Date,Location,Country,Injury.Severity,Make,Model,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
981,20020917X02558,1982-04-25,"NEW YORK, NY",United States,Non-Fatal,Bell,206L,1.0,Turbo Shaft,0.0,0.0,2.0,4.0
1371,20020917X02935,1982-05-28,"EVANSVILLE, IN",United States,Non-Fatal,Cessna,172,1.0,Reciprocating,0.0,0.0,0.0,7.0
2851,20020917X04423,1982-09-23,"PONTIAC, MI",United States,Incident,Cessna,152,1.0,Reciprocating,0.0,0.0,0.0,3.0
3082,20020917X04638,1982-10-18,GULF OF MEXICO,GULF OF MEXICO,Fatal(3),Bell,206B,1.0,Turbo Shaft,3.0,0.0,0.0,0.0
3830,20001214X42191,1983-02-06,"HOUSTON, TX",United States,Non-Fatal,Cessna,550,2.0,Turbo Fan,0.0,0.0,0.0,8.0
4008,20001214X42112,1983-02-28,"ANCHORAGE, AK",United States,Non-Fatal,Raven,RX-7,NaN,Unknown,0.0,0.0,0.0,5.0
4761,20001214X43016,1983-05-22,"BRIDGEPORT, CA",United States,Fatal(1),Schempp-hirth,STANDARD CIRRUS,NaN,Unknown,1.0,0.0,0.0,1.0
5120,20001214X43239,1983-06-20,"CHICAGO, IL",United States,Incident,Boeing,B-747,4.0,Turbo Fan,0.0,0.0,0.0,440.0
5398,20001214X43847,1983-07-10,"JACKSONVILLE, FL",United States,Non-Fatal,Pterodactyl,ASCENDER,1.0,Reciprocating,0.0,1.0,0.0,1.0
6512,20001214X44879,1983-10-08,"FRESNO, CA",United States,Non-Fatal,North American,SNJ-2,1.0,Reciprocating,0.0,0.0,0.0,2.0
7908,20001214X39306,1984-04-07,"BUELLTON, CA",United States,Non-Fatal,Beech,E18S,2.0,Reciprocating,0.0,0.0,0.0,3.0
7941,20001214X39345,1984-04-13,"DELAND, FL",United States,Non-Fatal,Cessna,172P,1.0,Reciprocating,0.0,0.0,0.0,2.0
8053,20001214X39185,1984-04-25,"ANCHORAGE, AK",United States,Non-Fatal,Cessna,152,1.0,Reciprocating,0.0,0.0,0.0,2.0
8487,20001214X39985,1984-06-03,"REDLANDS, CA",United States,Non-Fatal,Pitts,S2A,1.0,Reciprocating,0.0,0.0,1.0,1.0
8661,20001214X40069,1984-06-18,"PORTLAND, AR",United States,Non-Fatal,Snow,AT400,1.0,Turbo Prop,0.0,0.0,0.0,2.0

In [16]:
# Use 'keep=False' to keep all duplicates and 'sort_values' to put duplicates next to each other
df_aviation[df_aviation.duplicated(keep=False)].sort_values(by='Event.Id')

,Event.Id,Event.Date,Location,Country,Injury.Severity,Make,Model,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
45719,20001205X00305,1999-03-05,"DENVER, CO",United States,Non-Fatal,Swearingen,SA226TC,2.0,Turbo Prop,0.0,0.0,0.0,2.0
45716,20001205X00305,1999-03-05,"DENVER, CO",United States,Non-Fatal,Swearingen,SA226TC,2.0,Turbo Prop,0.0,0.0,0.0,2.0
34513,20001206X00768,1994-02-12,"GRAND CANYON, AZ",United States,Non-Fatal,Cessna,402C,2.0,Reciprocating,0.0,0.0,0.0,3.0
34512,20001206X00768,1994-02-12,"GRAND CANYON, AZ",United States,Non-Fatal,Cessna,402C,2.0,Reciprocating,0.0,0.0,0.0,3.0
34847,20001206X01157,1994-04-10,"OKEECHOBEE, FL",United States,Non-Fatal,Globe,9C-1B,1.0,Reciprocating,0.0,0.0,0.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90031,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90097,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
# Drop duplicate accidents based on Event.Id
df_aviation = df_aviation.drop_duplicates(subset=["Event.Id"])
df_aviation.shape

(87952, 13)

In [18]:
#drop rows where Event Id is missing
df_aviation=df_aviation.dropna(subset=["Event.Id"])

# Drop rows where Make is missing 
df_aviation = df_aviation.dropna(subset=["Make"])

#drop rows where model is missing
df_aviation=df_aviation.dropna(subset=["Model"])

# Drop rows where Engine Type is missing
df_aviation = df_aviation.dropna(subset=["Engine.Type"])

df_aviation.shape

(80886, 13)

In [19]:
df_aviation.columns.tolist()

['Event.Id',
 'Event.Date',
 'Location',
 'Country',
 'Injury.Severity',
 'Make',
 'Model',
 'Number.of.Engines',
 'Engine.Type',
 'Total.Fatal.Injuries',
 'Total.Serious.Injuries',
 'Total.Minor.Injuries',
 'Total.Uninjured']

In [20]:
df_aviation.isna().sum() #checking for sum of null values

Event.Id                      0
Event.Date                    0
Location                     46
Country                     216
Injury.Severity             194
Make                          0
Model                         0
Number.of.Engines          2022
Engine.Type                   0
Total.Fatal.Injuries      10409
Total.Serious.Injuries    11226
Total.Minor.Injuries      10550
Total.Uninjured            5017
dtype: int64

In [21]:
injury_cols = ["Total.Fatal.Injuries","Total.Serious.Injuries", "Total.Minor.Injuries","Total.Uninjured"]

df_aviation[injury_cols] = df_aviation[injury_cols].fillna(0) #to avoid errors while summing

In [22]:
#Convert Event.Date to datetime & extract Year
df_aviation["Event.Date"] = pd.to_datetime(df_aviation["Event.Date"], errors="coerce")
df_aviation["Year"] = df_aviation["Event.Date"].dt.year

In [23]:
#Standardize text fields to avoid duplicates
df_aviation["Make"] = df_aviation["Make"].str.upper().str.strip()
df_aviation["Model"] = df_aviation["Model"].str.upper().str.strip()

In [24]:
# Fill small categorical nulls
df_aviation["Location"] = df_aviation["Location"].fillna("Unknown")
df_aviation["Country"] = df_aviation["Country"].fillna("Unknown")
df_aviation["Injury.Severity"] = df_aviation["Injury.Severity"].fillna("Unknown")

In [25]:
# Optional: handle missing engine numbers
mode_engines = df_aviation["Number.of.Engines"].mode()[0]   # get the most common value
df_aviation["Number.of.Engines"].fillna(mode_engines, inplace=True)

In [26]:
df_aviation.isna().sum() #checking for sum of null values again

Event.Id                  0
Event.Date                0
Location                  0
Country                   0
Injury.Severity           0
Make                      0
Model                     0
Number.of.Engines         0
Engine.Type               0
Total.Fatal.Injuries      0
Total.Serious.Injuries    0
Total.Minor.Injuries      0
Total.Uninjured           0
Year                      0
dtype: int64

VISUALIZATIONS

RECOMMENDATION

CONCLUSION